@font-face {
	font-family: '<..>';
	src: url('../fonts/<..>');
	src: 
		url('../fonts/univers/<..>.eot?#iefix') format('embedded-opentype'),
		url('../fonts/univers/<..>.woff') format('woff'),
		url('../fonts/univers/<..>.ttf')  format('truetype'),
		url('../fonts/univers/<..>.svg<..>') format('svg');
}