* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body{
	font-family: $font-content;
	color: $gray;
	line-height: 1.3;
	
	> .section-intro{padding-top: 150px}
	
	@media (max-width: $screen-xs-max) {
  	&.overflow-hidden{overflow: hidden}
	}
}

/**
 * ===============================================
 * Helper Classes
 * ===============================================
 */
.clearfix{@include clearfix()}
.pull-left{float:left !important}
.pull-right{float:right !important}
.img-circle {border-radius: 50%}
.list-inline{
  margin-left: -5px;
  > li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

/**
 * ===============================================
 * Typography
 * ===============================================
 */
ul,ol,li{padding: 0px;margin: 0px;list-style-type: none;} 
 
h1,h2,h3{
  margin-top: 20px;
  margin-bottom: 10px;
	font-family: $font-heading;
	color: $gray-dark;
}

h1{font-size: $font-size-h1;line-height:$line-height-h1;font-weight: 500;}
h2{font-size: $font-size-h2;line-height:$line-height-h2;font-weight: 500;}
h3{font-size: $font-size-h3;line-height:$line-height-h3;font-weight: 500;}
h4{font-size: $font-size-h4;line-height:$line-height-h4;font-weight: 500;}
h5{font-size: $font-size-h5;line-height:$line-height-h5;font-weight: 500;}
h6{font-size: $font-size-h6;line-height:$line-height-h6;font-weight: 100;}

@media (min-width: $screen-md-min) {
	h2 {
		font-size: 34px;
	}
}

h3{
	font-size: $font-size-h3;
}

/**
 * ===============================================
 * Joyable Logo
 * ===============================================
 */
.icon-logo i{display: none;font-style: normal} 
 
.ie8 .icon-logo{
	&:before{display: none}
	i{display:inline-block}
}

//Force logo to be rendered via accelerated hardware
.icon-logo:before{transform: translate3d(0,0,0)}

/**
 * ===============================================
 * Anchors & Buttons
 * ===============================================
 */
a{transition: color 0.3s linear, background-color 0.3s linear}
.close-button{transition: color 0.3s linear} 

a{text-decoration: none}
a.hl{font-size: 17px} 
 
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  user-select: none;
  text-decoration: none;
} 
 
 .btn.btn-outline{
	@include border-radius(4px);
	display: inline-block;
	border: 1px solid #fff;
	text-transform: uppercase;
	padding: 17px 23px 16px 23px;
	background: transparent;
}

.scheme-red{
	.hl, a{color: $color-red}

	.bg-highlight{
		background: $color-red;
		color: $intro-color;

		h1,h2,h3, a{color: $intro-color}

		.btn{
			background: $color-btn-learn;
			color: $intro-color;
			font-weight: bold;
			text-transform: uppercase;
		}

		.btn-outline{background: transparent}
	}
}

.scheme-cyan{
	.hl, a{
  	color: $color-cyan;
  	&:hover{color:darken($color-cyan,20%)}
  }

	.bg-highlight{
		background: $color-cyan;
		color: $intro-color;

		h1,h2,h3, a{color: $intro-color}

		.btn{
			background: $color-btn-learn;
			color: $intro-color;
			font-weight: bold;
			text-transform: uppercase;
		}

		.btn-outline{background: transparent}
	}
}

.bg-alt{background: $color-alt}

.bg-gray{background: $color-gray}

/**
 * ===============================================
 * Forms
 * ===============================================
 */
input,button{
  outline: 0;
  &:focus, &:active{outline: 0}
} 

input[type="submit"]{
  padding: 12px 20px 9px;
  line-height: 1em;
}

form{
  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group {margin-bottom: 15px}
  
  .form-control{  
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #6F6F6F;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  }
}

/**
 * ===============================================
 * Miscellaneous Styles
 * ===============================================
 */
.paginate{
  li{
    display: inline-block;
    margin: 0;
  }
}

/**
 * ===============================================
 * Section styling
 * ===============================================
 */
 .section{
	text-align: center;
	padding-top: 60px;
	padding-bottom: 30px;

	h2{
		margin: 0 0 10px 0;
		letter-spacing: -0.015em;
		line-height: 30px;
	}

	p{
		margin: 5px 0;
		font-size: $font-size-large-1;
	}
}
.section-intro{
	padding-bottom: 43px;

	.intro-logo{
		text-align: center;

		img {
			margin-left: 20px;
		}
	}

	.row{
		text-align: center;
		> div {
			float: none;
			margin: 0 auto;
			@include span-columns(12);
			
		}
		h2{
			line-height: 1.2em;
		}
		p{
			font-family: $font-verlag-book;
			font-size: 21px;
      color: fade-out(white, .2);
			letter-spacing: 0.01em;
		}
		.btn{
			display: inline-block;
			margin: 10px 0;
			padding: 18px 50px 14px;
		}

		.go{
			display: block;
			margin: 30px 0 10px 0;
		}
	}
	@media (min-width: $screen-md-min) {
		padding-bottom: 66px;
		
		.row > div{@include span-columns(8,2)}

		h2 {
			font-size: 48px;
			margin-bottom: 20px;
		}
		.intro-logo{
			margin-bottom: 25px;
		}
		.row{
			.btn{
				margin-top: 21px;
			}
			p {
				font-size: 24px;
			}
			.go{
				margin-top: 90px;
				margin-bottom: 10px;
			}
		}
	}
}

.section-quote{
    @media (min-width: $screen-md-min){
        .icon-quote-content-pricing:before {
            background-image: url(../images/quote_icon_blue.png) !important;
        }
    }

}
.section-faq .container .quotes-list .cd-faq-items .cd-faq-group .cd-faq-group-item .cd-faq-content ul li .dot:before {
    content: "• ";
}

/**
 * ===============================================
 * Footer CTA (All Pages)
 * ===============================================
 */
.section-guaranteed{
	padding-top: 70px;
	padding-bottom: 80px;
	
  .row{
		padding-left: 20px;
		padding-right: 20px;
		
		> div{ @include span-columns(12)}

		p{
			font-size: $font-size-large-2;
		}
	}

	.btn{
		margin-top: 20px;
		
		&:hover{background: #fff !important}
	}

	@media (min-width: $screen-md-min) {
		
		.row > div{@include span-columns(8,2)};

		.btn {
			margin-top: 33px;
		}
	}
}

/**
 * ===============================================
 * Color Schemes
 * ===============================================
 */
@each $color, $color-code in ("red" $color-red, "blue" $color-blue, "cyan" $color-cyan) {
	.scheme-#{$color} {
		.close-button {
			color: $color-code;
		}
		
		header{
  		
  		&.fixed{
    		border-bottom: 1px solid rgba($color-code,0.6);
    		a{
      		color:$color-code;
      		&.header-logo{color:$color-code}
      		&:hover{border-color:$color-code !important}
        }
      
        .signup a{border-color:fade-out($color-code,0.6)}
      }
      
      
		}
		
		.nav-menu {
      li {
				a {
					color: $color-code;
				}
			}
		}

		.popbox {
			.intro-logo {
				background: $color-code;
			}

			.content {
				.form {
					input[type="submit"] {
						background: $color-code;
						&:hover{background: darken($color-code,20%);}
					}
				}
			}

			.quote {
				p {
					color: $color-code;
				}
			}
		}

		.btn{transition: background 0.3s linear, color 0.3s linear}
		
		a.btn:hover{
  		background: #fff !important;
      color: $color-code !important;
		}
		a.hl:hover{color:darken($color-code,20%)}
	}
}