html, body, .wrapper, main{width:100%;position: relative}

body{
	position: relative;
	//background-image: url('../img/image.png');
	background-position: center center;
	background-size: cover;
	background-color:$body-bg;
	color:$text-color;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	font-size: $font-size-base;
	font-weight: $type-weight-base;
	line-height: $line-height-base;
	letter-spacing: 0.015em;
	box-sizing: border-box;
	@include font-smoothing(true);
}

img{
	width: 100%;
	height:auto;
}

/**
 * ===============================================
 * Lazy loading img
 * ===============================================
 */
div[data-src],img[data-src]{
	opacity: 0;
	transition: opacity 0.2s linear;	
	
	&.visible{opacity: 1}
}


/**
 * ==============================
 * Link styles
 * ==============================
 */
a, .btn, .btn span, .btn i{
	color:$link-color;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}

a:focus, a:active, a:visited {outline:none;text-decoration: none}
::-moz-focus-inner {border:0;}

.btn{
	display: inline-block;
	background: $link-bg;
	padding: 18px 20px 13px;
	text-transform: uppercase;
	
	span{
		display: block;
		position: relative;
		padding: 0px;
		margin: 0px;
	}
}

/**
 * ==============================
 * Typography
 * ==============================
 */
ul,li{padding: 0px;margin: 0px;list-style-type: none;}

h1{font-size: $font-size-h1;line-height:$line-height-h1;font-weight: 500;}
h2{font-size: $font-size-h2;line-height:$line-height-h2;font-weight: 100;}
h3{font-size: $font-size-h3;line-height:$line-height-h3}
h4{font-size: $font-size-h4;line-height:$line-height-h4}
h5{font-size: $font-size-h5;line-height:$line-height-h5}
h6{font-size: $font-size-h6;line-height:$line-height-h6;font-weight: 100;}

/**
 * ==============================
 * Carousel
 * ==============================
 */
.carousel{
	position: relative;
	
	.item{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		text-align: center;
		
		&.shown{opacity: 1;visibility: visible;}
		
		transition: opacity 0.5s ease-in, visibility 0.5s ease-in;
	}
}

/**
 * ==============================
 * Modal Window
 * ==============================
 */

.modal{
	width: 100%;
	height: 100%;
	position: fixed !important;
	top:0;
	left: 0;
	background:url('../img/modal-bg.png');	
	visibility: hidden;
	opacity: 0;
	max-height:0;
	
	*{visibility: hidden}
	
	.center{
		width: 50%;
		height: 50%;	
		@include absolute-center();
		text-align: center;
	}
	
	.close{
		@include sprite-close;
		position: absolute;
		right:30px;
		display: block;
		opacity: 0.8;
		cursor: pointer;
	}
	
	&.visible{
		visibility: visible;
		opacity: 1;
		max-height:100%;
		
		*{visibility: visible}
	}
}

/**
 * ==============================
 * Misc additions
 * ==============================
 */

::-moz-selection { 
    background: #fff;
}

::selection {
    background: #fff;
}

/**
 * ==============================
 * Global\animations
 * ==============================
 */
.cssanimations{
	//.class{transition: property duration ease-in delay}
	
	//.modal{transition: opacity 0.3s ease-in 0.3s, visibility 0.1s ease-in 0s, max-height 0.01s 0s}
}


/**
 * ==============================
 * ie
 * ==============================
 */
.ie{} 

.lt-ie9{}